.planet-card {
    padding: 21px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background: #0C0519; */
    max-width: calc(377px - 40px);
}

.planet-card-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    z-index: 1;
}

.planet-card-top-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.planet-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.planet-card-content-title {
    color: #FFF;
    /* height: 56px; */
    /* Bebas Neue 4 */
    font-family: "Bebas Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
    /* 110% */
}

.planet-card-content-line {
    height: 4px;
    width: 23px;
    border-radius: 100px;
    background: #F2994A;
}

.planet-card-content-description {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
}

.planet-card-bg {
    position: absolute;
    /* z-index: -1; */
    height: 288px;
    width: 100%;
    max-width: 377px;
    margin-left: -20px;
    margin-bottom: -21px;
    border-radius: 30px;
    background: linear-gradient(0deg, #180C60 0%, rgba(50, 25, 198, 0.00) 100%);
}